body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #030030;
    background: linear-gradient(0deg, rgba(3, 0, 48, 1) 0%, rgba(30, 30, 166, 0.8) 40%, rgba(3, 117, 140, 0.8) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header,
.main {
    padding-inline: 2vw;
}

.header {
    color: #fff;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
